{% extends 'pages/index.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Leaderboard</h1>
</div>
<div class="container">
    <div class="row">
        <a class="col-md-auto mr-auto" href="{% url 'pages:index' %}">Return home</a>
        <a class="col-md-auto" href="{% url 'game:index' %}">Play again</a>
    </div>
</div>
<div class="container justify-content-center">
    <div class="row offset-2 my-5">
        <ol>
            {% for player in context %}
                <li class="h5 p-1"><a class="text-dark" href="{% url 'accounts:profile' player.name %}">{{ player.name }} - {{ player.score }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}